In [1]:
%matplotlib inline
import pandas as pd

In [2]:
a = pd.read_csv('cast.csv')
a.head()

                  title  year      name   type                character     n
0        Closet Monster  2015  Buffy #1  actor                  Buffy 4   NaN
1       Suuri illusioni  1985    Homo $  actor                   Guests  22.0
2   Battle of the Sexes  2017   $hutter  actor          Bobby Riggs Fan  10.0
3  Secret in Their Eyes  2015   $hutter  actor          2002 Dodger Fan   NaN
4            Steve Jobs  2015   $hutter  actor  1988 Opera House Patron   NaN

### How many movies are listed in the titles dataframe?

In [3]:
a['title'].nunique()

172294

### What are the earliest two films listed in the titles dataframe?

In [5]:
a['title'].head(2)

0     Closet Monster
1    Suuri illusioni
Name: title, dtype: object

### $$$$$     How many movies have the title "Hamlet"?

In [6]:
a[a['title']=="Hamlet"].count()

title        313
year         313
name         313
type         313
character    313
n            248
dtype: int64

In [10]:
b=a[a['title']=="Hamlet"]
print(b['year'].nunique())
print(b['year'].unique())
print(b['year'].value_counts())

17
[1996 1921 2009 1913 2000 1964 1990 1969 2015 1948 1973 2011 1976 1911
 1910 1987 1954]
1996    54
2000    38
1964    33
1990    29
1948    24
1969    24
2015    22
1913    21
2009    17
2011    12
1976    11
1921     9
1973     8
1911     6
1987     3
1954     1
1910     1
Name: year, dtype: int64

### How many movies are titled "North by Northwest"?

In [12]:
a[a['title']=="North by Northwest"].count()

title        112
year         112
name         112
type         112
character    112
n             16
dtype: int64

In [11]:
b=a[a['title']=="North by Northwest"]
print(b['year'].nunique())
print(b['year'].unique())
print(b['year'].value_counts())

1
[1959]
1959    112
Name: year, dtype: int64

### When was the first movie titled "Hamlet" made?

In [7]:
b=a[a['title']=="Hamlet"]
b['year'].min()

1910

### List all of the "Treasure Island" movies from earliest to most recent.

In [8]:
a[a['title']=="Treasure Island"].sort_values(by=['year'])

,title,year,name,type,character,n
830114,Treasure Island,1918,Charles Gorman,actor,Prologue Player,NaN
840745,Treasure Island,1918,Joe Grant,actor,Undetermined child role,NaN
909157,Treasure Island,1918,Edwin Harley,actor,Prologue Player,NaN
3298306,Treasure Island,1918,Violet Radcliffe,actress,Long John Silver,3.0
1715014,Treasure Island,1918,Lloyd Perl,actor,Black Dog,4.0
3553298,Treasure Island,1918,Eleanor Washington,actress,Prologue Player,NaN
339256,Treasure Island,1918,Francis Carpenter,actor,Jim Hawkins,1.0
1261579,Treasure Island,1918,Raymond Lee,actor,Bit Role,NaN
1291387,Treasure Island,1918,Elmo Lincoln,actor,Prologue Player,NaN
1946119,Treasure Island,1918,Lewis Sargent,actor,Ben Gunn,5.0
2654214,Treasure Island,1918,Virginia Lee Corbin,actress,Louise Trelawney,2.0
1417884,Treasure Island,1918,Herschel Mayall,actor,Prologue Player,NaN
1473574,Treasure Island,1918,Buddy Messinger,actor,Captain Smolett,6.0
1638400,Treasure Island,1920,Charles Ogle,actor,Long John Silver,6.0
374597,Treasure Island,1920,Lon Chaney,actor,Blind Pew,5.0
1358420,Treasure Island,1920,Charles Hill Mailes,actor,Dr. Livesey,11.0
1516354,Treasure Island,1920,Bull Montana,actor,Morgan,8.0
537825,Treasure Island,1920,Sydney Deane,actor,Squire Trelawney,10.0
977651,Treasure Island,1920,Harry Holden,actor,Capt. Smollett,9.0
374598,Treasure Island,1920,Lon Chaney,actor,Merry,5.0
2006457,Treasure Island,1920,Thomas William Sheffield,actor,Man going over Plank,NaN
700670,Treasure Island,1920,Al W. Filson,actor,Bill Bones,3.0
2037631,Treasure Island,1920,Joseph Singleton,actor,Israel Hands,7.0
3116605,Treasure Island,1920,Shirley Mason,actress,Jim Hawkins,1.0
3142561,Treasure Island,1920,Josie Melville,actress,Mrs. Hawkins,2.0
2164752,Treasure Island,1920,Wilton Taylor,actor,Black Dog,4.0
2088694,Treasure Island,1920,Eli Stanton,actor,Pirate,NaN
883644,Treasure Island,1934,Frank Hagney,actor,Pirate,NaN
3305357,Treasure Island,1934,Ethel Ransome,actress,Streetwalker,NaN
963220,Treasure Island,1934,Jack (II) Hill,actor,Pirate,NaN
...,...,...,...,...,...,...
353505,Treasure Island,1985,Lou Castel,actor,Father,6.0
2122835,Treasure Island,1985,Jean-Fran?ois St?venin,actor,Israel Hands (The Rat),7.0
353504,Treasure Island,1985,Lou Castel,actor,Doctor,6.0
2160278,Treasure Island,1985,Vic Tayback,actor,Silver,1.0
1762501,Treasure Island,1985,Melvil Poupaud,actor,Jim Hawkins,14.0
688366,Treasure Island,1985,Michel Ferber,actor,Crabb,10.0
3245250,Treasure Island,1999,Lisa Papineau,actress,Diedre,19.0
210668,Treasure Island,1999,Jonah Blechman,actor,The Body,3.0
969021,Treasure Island,1999,George Hirschmann,actor,Admiral,12.0
934507,Treasure Island,1999,Pat Healy,actor,Clark,4.0
880460,Treasure Island,1999,Rio Hackford,actor,Hans,23.0
1959741,Treasure Island,1999,Richard Schave,actor,Man,21.0
3415912,Treasure Island,1999,Rachel Singer,actress,Anna,6.0
872384,Treasure Island,1999,Paul Gutrecht,actor,Some Guy,20.0
3507587,Treasure Island,1999,Guinevere Turner,actress,Evelyn,14.0
1869989,Treasure Island,1999,Scot Thomas Robinson,actor,Jimmy,11.0
3195608,Treasure Island,1999,Suzy Nakamura,actress,Yo-Ji,5.0
114904,Treasure Island,1999,Lance (II) Baker,actor,Frank,1.0
445745,Treasure Island,1999,Becket Cook,actor,The Gent,13.0
2931880,Treasure Island,1999,Stephanie Ittleson,actress,Stella,7.0
2865358,Treasure Island,1999,Daisy Hall,actress,Penny,8.0
589900,Treasure Island,1999,Jamie Donovan,actor,John,21.0
2660575,Treasure Island,1999,Nigel (II) Cox,actress,Enid,22.0
1161085,Treasure Island,1999,Scott King,actor,Walter,15.0
1975279,Treasure Island,1999,Dolph Scott,actor,Parker,11.0
2420089,Treasure Island,1999,Caveh Zahedi,actor,Harold,9.0
1637661,Treasure Island,1999,Nick Offerman,actor,Samuel,2.0
1375015,Treasure Island,1999,J.P. Manoux,actor,Officer Hughes,18.0
1797264,Treasure Island,1999,Victor Raider-Wexler,actor,Samowitz,10.0
307749,Treasure Island,1999,Bob Byington,actor,Thomas,12.0

### How many movies were made in the year 1950?

In [9]:
a[a['year']==1950]['title'].nunique()

907

### How many movies were made in the year 1960?

In [10]:
a[a['year']==1960]['title'].nunique()

1088

### How many movies were made from 1950 through 1959?

In [11]:
a[(a['year']>1949) & (a['year']<1960)]['title'].nunique()

10091

### In what years has a movie titled "Batman" been released?

In [12]:
a[a['title']=="Batman"]["year"].unique()

array([1943, 1989], dtype=int64)

###  $$$$$$$   How many roles were there in the movie "Inception"?

In [13]:
a[a['title']=="Inception"]['n'].sum()

1326.0

In [14]:
a[a['title']=="Inception"].count()

title        77
year         77
name         77
type         77
character    77
n            51
dtype: int64

### How many roles in the movie "Inception" are NOT ranked by an "n" value?

In [19]:
a[a['title']=='Inception']['n'].isnull().sum()

26

### But how many roles in the movie "Inception" did receive an "n" value?

In [17]:
a[(a["title"]=="Inception") & (a['n']>0)].count()

title        51
year         51
name         51
type         51
character    51
n            51
dtype: int64

### Display the cast of "North by Northwest" in their correct "n"-value order, ignoring roles that did not earn a numeric "n" value.

In [22]:
a[a['title']=="North by Northwest"].dropna(subset=['n']).sort_values(by=['n'])

,title,year,name,type,character,n
840374,North by Northwest,1959,Cary Grant,actor,Roger O. Thornhill,1.0
3361396,North by Northwest,1959,Eva Marie Saint,actress,Eve Kendall,2.0
1404704,North by Northwest,1959,James Mason,actor,Phillip Vandamm,3.0
3024085,North by Northwest,1959,Jessie Royce Landis,actress,Clara Thornhill,4.0
343701,North by Northwest,1959,Leo G. Carroll,actor,The Professor,5.0
2923056,North by Northwest,1959,Josephine Hutchinson,actress,Mrs. Townsend,6.0
1634552,North by Northwest,1959,Philip Ober,actor,Lester Townsend,7.0
1229083,North by Northwest,1959,Martin Landau,actor,Leonard,8.0
2357939,North by Northwest,1959,Adam Williams,actor,Valerian,9.0
1746383,North by Northwest,1959,Edward Platt,actor,Victor Larrabee,10.0
642085,North by Northwest,1959,Robert Ellenstein,actor,Licht,11.0
2212083,North by Northwest,1959,Les Tremayne,actor,Auctioneer,12.0
447893,North by Northwest,1959,Philip Coolidge,actor,Dr. Cross,13.0
1454363,North by Northwest,1959,Patrick McVey,actor,Sergeant Flamm,14.0
198496,North by Northwest,1959,Edward Binns,actor,Captain Junket,15.0
1334726,North by Northwest,1959,Ken Lynch,actor,Charley - Chicago Policeman,16.0

### Display the entire cast, in "n"-order, of the 1972 film "Sleuth".

In [24]:
a[(a["title"]=="Sleuth") & (a['year']==1972)].sort_values(by=['n'])[['name','n']]

                       name    n
1644328    Laurence Olivier  1.0
314691        Michael Caine  2.0
360365       Alec Cawthorne  3.0
1412647  John (II) Matthews  4.0
2619278  Eve (III) Channing  5.0
1396572        Teddy Martin  6.0

### Now display the entire cast, in "n"-order, of the 2007 version of "Sleuth".

In [26]:
a[(a["title"]=="Sleuth") & (a['year']==2007)].sort_values(by=['n'])[['name','n']].dropna(subset=['n'])

                  name    n
314692   Michael Caine  1.0
1246855       Jude Law  2.0
1741124  Harold Pinter  3.0

### How many roles were credited in the silent 1921 version of Hamlet?

In [21]:
a[(a['title']=="Hamlet") & (a['year']==1921)]

          title  year                    name     type         character    n
7438     Hamlet  1921        Fritz Achterberg    actor       Fortinbras,  9.0
442224   Hamlet  1921            Paul Conradi    actor      K?nig Hamlet  2.0
535307   Hamlet  1921        Anton De Verdier    actor           Laertes  7.0
1095274  Hamlet  1921         Hans Junkermann    actor          Polonius  6.0
2106367  Hamlet  1921            Heinz Stieda    actor           Horatio  5.0
2289163  Hamlet  1921  Eduard von Winterstein    actor          Claudius  4.0
2562876  Hamlet  1921         Mathilde Brandt  actress  K?nigin Gertrude  3.0
2935728  Hamlet  1921          Lilly Jacobson  actress           Ophelia  8.0
3209199  Hamlet  1921            Asta Nielsen  actress            Hamlet  1.0

In [22]:
a[(a['title']=="Hamlet") & (a['year']==1921)].count()

title        9
year         9
name         9
type         9
character    9
n            9
dtype: int64

### How many roles were credited in Branagh’s 1996 Hamlet?

In [27]:
a[(a['title']=="Hamlet") & (a['year']==1996)].count()

title        54
year         54
name         54
type         54
character    54
n            46
dtype: int64

### How many "Hamlet" roles have been listed in all film credits through history?

In [30]:
a[a['title']=="Hamlet"].dropna(subset=['n']).count()

title        248
year         248
name         248
type         248
character    248
n            248
dtype: int64

In [31]:
a[a['title']=="Hamlet"].count()

title        313
year         313
name         313
type         313
character    313
n            248
dtype: int64

### How many people have played an "Ophelia"?

In [25]:
a[a['character']=="Ophelia"].count()

title        111
year         111
name         111
type         111
character    111
n             59
dtype: int64

### How many people have played a role called "The Dude"?

In [26]:
a[a['character']=="The Dude"].count()

title        18
year         18
name         18
type         18
character    18
n            12
dtype: int64

### How many people have played a role called "The Stranger"?

In [27]:
a[a['character']=="The Stranger"].count()

title        208
year         208
name         208
type         208
character    208
n            130
dtype: int64

### How many roles has Sidney Poitier played throughout his career?

In [28]:
a[a['name']=="Sidney Poitier"].count()

title        43
year         43
name         43
type         43
character    43
n            42
dtype: int64

### How many roles has Judi Dench played?

In [29]:
a[a['name']=="Judi Dench"].count()

title        55
year         55
name         55
type         55
character    55
n            48
dtype: int64

### List the supporting roles (having n=2) played by Cary Grant in the 1940s, in order by year.

In [32]:
a[(a['name']=="Cary Grant") & (a['n']==2) & (a['year']>1939) & (a['year']<1950)].sort_values(by=['year'])[['name','character','year']]

              name    character  year
840371  Cary Grant         Nick  1940
840381  Cary Grant  Roger Adams  1941

### List the leading roles that Cary Grant played in the 1940s in order by year.

In [34]:
a[(a['name']=="Cary Grant") & (a['n']==1) & (a['year']>1939) & (a['year']<1950)].sort_values(by=['year'])

,title,year,name,type,character,n
840397,The Howards of Virginia,1940,Cary Grant,actor,Matt Howard,1.0
840353,His Girl Friday,1940,Cary Grant,actor,Walter Burns,1.0
840399,The Philadelphia Story,1940,Cary Grant,actor,C. K. Dexter Haven,1.0
840386,Suspicion,1941,Cary Grant,actor,Johnnie,1.0
840401,The Talk of the Town,1942,Cary Grant,actor,Leopold Dilg,1.0
840377,Once Upon a Honeymoon,1942,Cary Grant,actor,Patrick 'Pat' O'Toole,1.0
840344,Destination Tokyo,1943,Cary Grant,actor,Capt. Cassidy,1.0
840369,Mr. Lucky,1943,Cary Grant,actor,Joe Adams,1.0
840370,Mr. Lucky,1943,Cary Grant,actor,Joe Bascopolous,1.0
840378,Once Upon a Time,1944,Cary Grant,actor,Jerry Flynn,1.0
840336,Arsenic and Old Lace,1944,Cary Grant,actor,Mortimer Brewster,1.0
840373,None But the Lonely Heart,1944,Cary Grant,actor,Ernie Mott,1.0
840372,Night and Day,1946,Cary Grant,actor,Cole Porter,1.0
840375,Notorious,1946,Cary Grant,actor,Devlin,1.0
840393,The Bachelor and the Bobby-Soxer,1947,Cary Grant,actor,Dick Nugent,1.0
840394,The Bishop's Wife,1947,Cary Grant,actor,Dudley,1.0
840368,Mr. Blandings Builds His Dream House,1948,Cary Grant,actor,Jim Blandings,1.0
840348,Every Girl Should Be Married,1948,Cary Grant,actor,Dr. Madison Brown,1.0
840357,I Was a Male War Bride,1949,Cary Grant,actor,Captain Henri Rochard,1.0

### How many roles were available for actors in the 1950s?

In [32]:
a[(a['year']>1949) & (a['year']<1960) & (a['type']=='actor')].dropna(subset=['n'])['n'].sum()

775618.0

In [35]:
a[(a['year']>1949) & (a['year']<1960) & (a['type']=='actor')].count()

title        154727
year         154727
name         154727
type         154727
character    154727
n             80890
dtype: int64

### How many roles were available for actresses in the 1950s?

In [33]:
a[(a['year']>1949) & (a['year']<1960) & (a['type']=='actresses')].dropna(subset=['n'])['n'].sum()

0.0

### How many leading roles (n=1) were available from the beginning of film history through 1980?

In [34]:
a[(a['n']==1) & (a['year']<1981)].count()

title        63924
year         63924
name         63924
type         63924
character    63924
n            63924
dtype: int64

### How many non-leading roles were available through from the beginning of film history through 1980?

In [35]:
a[(a['n']!=1) & (a['year']<1981)].count()

title        1094780
year         1094780
name         1094780
type         1094780
character    1094780
n             656694
dtype: int64

### How many roles through 1980 were minor enough that they did not warrant a numeric "n" rank?

In [41]:

a[(a['year']<1981) & (a['n'].isnull())].count()

title        438086
year         438086
name         438086
type         438086
character    438086
n                 0
dtype: int64